body {
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: white;
  min-width: 480px;
  max-width: 480px;
  min-height: 700px;
  max-height: 700px;
  overflow: scroll;
  border: 1px solid black;
}

.titleBg {
  background-color: #1e96fc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

.title {
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 0px;
}

.subjects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quizWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}

.mathQuizButton {
  background-color: white;
  width: 220px;
  height: 100px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #1e96fc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-image: url("https://images.pexels.com/photos/6238068/pexels-photo-6238068.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
}

.engQuizButton {
  background-color: white;
  width: 220px;
  height: 100px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #1e96fc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-image: url("https://images.pexels.com/photos/159581/dictionary-reference-book-learning-meaning-159581.jpeg?auto=compress&cs=tinysrgb&w=1200");
  background-size: cover;
}

.sciQuizButton {
  background-color: white;
  width: 220px;
  height: 100px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #1e96fc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-image: url("https://images.pexels.com/photos/2156/sky-earth-space-working.jpg?auto=compress&cs=tinysrgb&w=1200");
  background-size: cover;
}

.hisQuizButton {
  background-color: white;
  width: 220px;
  height: 100px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #1e96fc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-image: url("https://images.pexels.com/photos/3617568/pexels-photo-3617568.jpeg?auto=compress&cs=tinysrgb&w=1200");
  background-size: cover;
}

.sciQuizButton:hover {
  background-color: whitesmoke;
  width: 230px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.hisQuizButton:hover {
  background-color: whitesmoke;
  width: 230px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}
.engQuizButton:hover {
  background-color: whitesmoke;
  width: 230px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}
.mathQuizButton:hover {
  background-color: whitesmoke;
  width: 230px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}

.test {
  width: 400px;
  height: 100px;
  margin: 20px;
  background-color: white;
  border: 1px solid #1e96fc;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.test:hover {
  background-color: whitesmoke;
  height: 110px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
}

input {
  accent-color: #036d19;
}

.progress {
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border: 1px solid black;
}
